version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend-flask
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - MONGODB_URI=${MONGODB_URI}
      - MONGODB_LOGS_URI=${MONGODB_LOGS_URI}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - MAIL_SERVER=${MAIL_SERVER}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
    volumes:
      - ./backend:/app
      - ./common:/app/common
    command: python app.py
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend-angular
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm start
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge
